@use "./base/base";
@use "./base/typography";
@use "./base/utilities";

// Components
@use "./components/header";
@use "./components/footer";

// stylelint-disable-next-line selector-class-pattern
.gform_button.button[type="submit"] {
	--gf-ctrl-btn-color-primary: white;
	--gf-ctrl-btn-font-size: var(--wp--preset--font-size--root);
	--gf-ctrl-btn-padding-x: var(--wp--preset--spacing--lg);
	--gf-ctrl-btn-padding-y: var(--wp--preset--spacing--sm);
}

.best-value {
	position: relative;
	overflow: hidden;
}

.best-value::before {
	content: "Best Value";
	position: absolute;
	top: 16px;
	right: -45px;
	background: #3aa6c6;
	color: white;
	font-weight: 700;
	text-align: center;
	transform: rotate(45deg);
	width: 160px;
	padding: 6px 0;
	box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
	font-size: 14px;
	letter-spacing: 0.5px;
	z-index: 2;
}

.btn-rates {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 30px;
}
