.inset-0 {
	inset: 0;
}

.fs-base {
	font-size: var(--wp--preset--font-size--base) !important;
}

.fs-root {
	font-size: var(--wp--preset--font-size--root) !important;
}
.top-0{
 top: var(--wp-admin--admin-bar--height, 0) !important;
}