.footer {
	--bs-link-color-rgb: 255, 255, 255;
	--bs-link-hover-color-rgb: var(--bs-primary-rgb);

	.logo {
		--size: 15rem;

		max-width: var(--size);
		width: var(--size);
	}

	@media (width >= 768px) {
		.logo {
			--size: 35rem;

			max-width: var(--size);
			width: var(--size);
		}
	}
}
