@use "../abstracts/mixins" as m;

.navbar-brand {
	--size: 15rem;

	max-width: var(--size);
	width: var(--size);
}

@media (width >= 768px) {
	.navbar-brand {
		--size: 25rem;

		max-width: var(--size);
		width: var(--size);
	}
}

.header-nav {
	.nav-link {
		--bs-nav-link-font-size: var(--wp--preset--font-size--base);
	}

	.dropdown-toggle {
		--bs-btn-box-shadow: none;
		--bs-btn-color: white;
		--bs-btn-hover-color: var(--bs-secondary);

		padding: 0;

		&:hover {
			box-shadow: none;
			transform: none;
		}
	}

	.dropdown:hover {
		.btn-group > a {
			color: var(--bs-secondary);
		}

		.dropdown-toggle {
			color: var(--bs-secondary);
		}
	}
}

.navbar {
	--bs-navbar-color: var(--bs-primary);
	--bs-navbar-hover-color: var(--bs-primary-dark);
	--bs-navbar-active-color: var(--bs-primary-dark);

	.nav-link {
		&:hover,
		&:focus,
		&:focus-visible {
			color: var(--bs-primary-dark);
			text-decoration: underline;
		}
	}
}
